#weatherApp {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.autocomplete-items {
    list-style: none;
    padding: 0;
    background: #f9f9f9;
    border: 1px solid #d4d4d4;
    z-index: 99;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.city {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.city button {
    margin-left: 10px;
}
.city-weather {
    background-color: rgb(143, 23, 255);
    border-radius: 20px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

#cityInput{
    width: 100%;
    border: 3px solid #8a8aff;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 10px;
}
.inputcity{
    display: flex;
}
.sug{
    width: 65%;
}
.btn{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: #8a8aff;
}